{% extends 'base.html' %}
{% block content %}
<h2>Informazioni Inserite</h2>
    <ul>
        <li>Nome della lezione: <b>{{session["lesson_name"]}}</b></li>
        <li>Insegnate della lezione: <b>{{session["teacher_name"]}}</b></li>
        <li>Lezione attiva: <b>{{session["lesson_active"]}}</b></li>
        <li>livello della lezione: <b>{{session["difficulty"]}}</b> </li>
        <li>Piattaforma on line: <b>{{session["platform"]}}</b> </li>
        <li>Note sulla lezione: <b>{{session["feedback"]}}</b></li>
    </ul>   
{% endblock content %}