{% extends "base.html" %}
{% block content %}
                
<!--<p>Jinja uses a central object called the template Environment. 
    Instances of this class are used to store the configuration and global objects, 
    and are used to load templates from the file system or other locations. 
    Even if you are creating templates from strings by using the constructor of Template class, 
    an environment is created automatically for you, albeit a shared one.</p>
    <div class="jumbotron">
        <h3>Mi diverto tantissimo a fare coding</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at neque id tortor ultrices pellentesque mollis eget nisi. In pulvinar augue metus, vitae faucibus libero consequat at. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi luctus ultricies quam at pharetra. Quisque ultrices pellentesque ligula sit amet accumsan. Phasellus ut est mi. Donec eget porttitor lacus, vitae elementum orci. In eu luctus massa. Maecenas rhoncus purus id nunc pulvinar, sed consequat nibh scelerisque. Vestibulum arcu tortor, tincidunt at est sed, tristique imperdiet purus. Suspendisse vestibulum nec nulla quis pulvinar.
            
            Nulla cursus tristique velit, at malesuada mauris varius ac. Nullam condimentum imperdiet faucibus. Proin laoreet quis ligula eu ullamcorper. Morbi molestie mauris et elementum semper. Nunc fermentum mollis nibh, eget lacinia nibh lobortis eget. Nunc in ex vitae nisi luctus gravida bibendum vitae velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed porta eget augue vel imperdiet. Proin elit ligula, aliquet at lorem a, sodales blandit elit. Suspendisse vitae sollicitudin dui. Quisque aliquet facilisis nulla eget tempor. Cras feugiat pellentesque sem ut tempor. Nunc condimentum mattis ante ut suscipit.
            
            Sed sagittis vel nunc ac rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque sed felis risus. Morbi id quam id risus feugiat interdum. Aenean metus quam, ultricies nec est nec, porta tincidunt ipsum. Ut congue dui purus, eu dignissim sem consequat vitae. Sed id consectetur quam. Nullam congue ultrices diam nec aliquet. Etiam euismod elit dui, eu vestibulum lorem ultricies et. Aliquam blandit purus purus, non fringilla massa fermentum aliquam. Suspendisse purus mi, condimentum eu molestie non, posuere id magna. Fusce eu lectus fermentum, porta justo ac, volutpat est. Ut in risus mattis, eleifend nulla aliquam, dictum orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            
            Integer vitae vulputate purus. Ut eleifend id odio eu ultrices. Cras vel maximus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus elementum sem nec mi sagittis hendrerit. Etiam vitae risus lorem. Donec id volutpat diam, quis vestibulum leo. Donec laoreet lacinia magna ac pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed non justo nec velit ultrices vehicula. Etiam et rhoncus nisl.
            
            Donec posuere aliquet ipsum rhoncus consectetur. Suspendisse ante metus, porttitor eu tellus eu, feugiat hendrerit lacus. Nam pretium sapien et tellus aliquet euismod. Sed ut tellus rutrum, aliquam nisi sed, imperdiet arcu. Phasellus facilisis purus in placerat dignissim. Suspendisse cursus at enim eget luctus. Nunc at feugiat dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed interdum ut augue ut mattis. Maecenas est erat, venenatis sed purus non, feugiat pellentesque nisi. Vestibulum vitae neque a elit mollis imperdiet id quis velit. Nunc eu quam tellus. Etiam tincidunt commodo semper. Nullam a enim sed magna mollis aliquet vitae in mi. Cras nec lacus non metus rhoncus tempor et eget diam.
            </p>
        <p class="lead">      
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>    -->
    <h3>Lezioni</h3>
    <a href="{{url_for('advance_form')}}" class="btn btn-success">Nuova lezione</a>
    <hr class="my-4">

      <br>
    
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nome della lezione</th>
            <th scope="col">Nome dell'insegante</th>
            </tr>
        </thead>
        <tbody>
            {% for data in lezioni %}
            <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{ data.lesson_name }}</td>
            <td>{{ data.teacher_name}}</td>
            <td><a href="/delete/{{data.id}}" type="button">Cancella</a></td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    

{% endblock content %}