{% extends 'base.html' %}
{% block content%}
    <br>
    <h1>NUOVA LEZIONE</h1>

    <form method="POST"> 
        {{lesson_form.hidden_tag()}}
        <br>
        {{lesson_form.lesson_name.label}}{{lesson_form.lesson_name()}}
        <br>
        {{lesson_form.teacher_name.label}}{{lesson_form.teacher_name()}}
        <br>
        {{lesson_form.submit()}}
    </form> 
    <br>
    <ul>
       <!-- <li>
        Nome della lezione: <b>{{lesson}}</b>  
        </li>
        <li>
        Nome del professore: <b>{{teacher}}</b>  
        </li> --> 

    </ul>
{% endblock content %}